{% extends '../base.html' %}

{% block title %}Change Password Page{% endblock title %}
{% block Change_Password_active %}activelink{% endblock %}

{% block body %} 

    <div class = "container-fluid" >
        <div class="col-lg-6 col-lg-offset-3 " >
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1 class="text-color"> Change Password</h1><hr/>
                    {% if error_message %}
                        <p style="color:red;"class="alert alert-danger"><span class="glyphicon glyphicon-exclamation-sign">{{error_message}}</p>
                    {% endif %}

                    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">    
                        {% csrf_token %}
                        {% include '../form_template.html' %}
                        
                        <div class="col-sm-offset-2 col-sm-10">
                            <a class="btn btn-primary"href="{% url 'movie:home_page' %}">Back</a>
                            <button type="submit" class="btn btn-success">Change Password</button>
                        </div>
                    </form>
                    
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}
