{% extends 'movie/base.html' %}
{% block title %}Add a Movie{% endblock %}
{% block addmovie_active %}activelink{% endblock %}

{% block body %}
    <div class = "container-fluid">
        <div class="col-lg-6 col-lg-offset-3 ">
            <div class="panel panel-default">
                <div class="panel-body">
		          <h1 class="text-color"> Add a Movie </h1><hr>
                    
                    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'movie/form_template.html' %}
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success">Add Movie</button>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}
