{% extends 'movie/base.html' %}
{% block title %}Profile{% endblock %}

{% block profile_active %}activelink{% endblock %}
{% load static %}

{% block body %}
<div class = "container-fluid" >
    <div class="col-lg-4 col-lg-offset-4 text-center" >
        <div class="thumbnail">

            <div class="caption" style="color:#28a745;">
                <h1 class="text-color"><strong>Profile Detail</strong></h1><hr/>

                {% if birthday %}
                <h1 style="color:red;"><strong>{{birthday}}</strong></h1>
                <img src="{% static 'movie/images/Happy_Birthday.jpg' %}" height="300" width="300">
                {% endif %}

                <h4><strong style="color:#007bff;">Today's Date:-</strong>{{today}}</h4>
                <h2><strong style="color:#007bff;">Username:-</strong>&nbsp; {{ user.username }}</h2>
                <h2><strong style="color:#007bff;">Profile Picture:-</strong></h2>
                {% if user.userprofile.profile_photo %}
                <img class="img-circle" src="{{ user.userprofile.profile_photo.url }}" height="250" width="250">
                {% else %}
                <h1><strong style="color: red">you are not uploaded profile picture</strong></h1>
                {% endif %}

                <h4><strong style="color:#007bff;">Name:-&nbsp; </strong>{{ user.first_name }} {{ user.last_name }}</h4>
                <h4><strong style="color:#007bff;">Phone Number:-</strong>&nbsp; {{ user.userprofile.phone_number }}</h4>

                {% if user.userprofile.gender %}
                <h4><strong style="color:#007bff;">Gender:-</strong>&nbsp; {{ user.userprofile.gender }}</h4>
                {% endif %}

                <h4><strong style="color:#007bff;">Email:-</strong>&nbsp; {{ user.email }}</h4>
                <h4><strong style="color:#007bff;">Date of Birth:-</strong>&nbsp; {{ user.userprofile.date_of_birth }}</h4>
                <h4><strong style="color:#007bff;">Age:-</strong>&nbsp; {{ user.userprofile.date_of_birth|timesince }}</h4>

                {% if user.userprofile.bio %}
                <h4><strong style="color:#007bff;">Bio:-</strong>&nbsp; {{user.userprofile.bio}}</h4>
                {% endif %}



            </div>
        </div>
    </div>
</div>

{% endblock %}
