{% extends 'movie/base.html' %}
{% block title %}Song List{% endblock %}
{% block songs_active %}activelink{% endblock %}


{% block body %}
{% if all_songs %}
    <div class="container-fluid songs-container">

        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-pills" style="margin-bottom: 10px;">
                    <li role="presentation" {% if filter_by == 'all' %}class="active"{% endif %}><a href="{% url 'movie:song-list' 'all' %}">View All</a></li>
                    <li role="presentation" {% if filter_by == 'favorites' %}class="active"{% endif %}><a href="{% url 'movie:song-list' 'favorites' %}">Favorites</a></li>
                </ul>
            </div>
        </div>

    <div class="row">
            <!-- Right Song Info -->
            <div class="col-sm-8 col-md-12">


                <div class="panel panel-default">
                    <div class="panel-body">

                        <h3 class="text-color">All Songs</h3>

                        {% if error_message %}
                            <p style="color:red;"class="alert alert-danger"><span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;{{ error_message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true">&times;</span></button></p>
                        {% endif %}

                        <table class="table table-borderless" >
                            <thead>
                            <tr>
                                <th>Title</th>
                                <th>Audio File</th>
                                <th>Favorite</th>
                                <th>Song Update</th>
                                <th>Actions</th>
                                <th>Movie Name</th>
                                
                            </tr>
                            </thead>
                            <tbody>
                            {% for song in all_songs %}
                                <tr>
                                    <td>{{ song.song_name }}</td>
                                    <td>
                                        <a target="_blank" href="{{ song.song_audio.url }}">
                                            <button type="button" class="btn btn-success btn-xs">
                                                <span class="glyphicon glyphicon-play"></span>&nbsp; Play
                                            </button>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{% url 'movie:favorite' song.id %}" class="btn-favorite"><span class="{% if song.is_favorite %}glyphicon glyphicon-star {% else %}glyphicon glyphicon-star-empty {% endif %}"></span></a>
                                    </td>

                                    <!-- Update Song -->
                                    <td>
                                        <a href="{% url 'movie:song-update' song.movie.id song.id %}" class="btn-update" role="button"><span class="glyphicon glyphicon-pencil"></span></a>
                                    </td>


                                    <!-- Delete Song -->
                                    <td>


                                    <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#delete_song_model{{song.movie.id}}{{song.id}}">
                                        <span class="glyphicon glyphicon-remove"></span> Delete
                                    </button>
          
                                      <!--   Modal -->
                                    <div class="modal fade" id="delete_song_model{{song.movie.id}}{{song.id}}" role="dialog">
                                        <div class="modal-dialog">
                                        
                                          <!--  Modal content -->
                                          <div class="modal-content">
                                            <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" style="color: #fff;font-size: 30px;">×</button>
                                            <h4 style="font-size: 30px;"><span class="glyphicon glyphicon-lock"></span> Are Your Sure You Want To Delete This Song?</h4>
                                            </div>
                                            <div class="modal-body">
                                              if Sure then select Yes otherwise select No 
                                                
                                            </div>
                                            <div class="modal-footer">
                                              <button type="submit" class="btn-dark pull-left" data-dismiss="modal">
                                                <span class="glyphicon glyphicon-remove"></span> No
                                              </button>
                                                <form action="{% url 'movie:song-delete' song.movie.id song.id %}" method="post" style="display: inline;">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="song_id" value="{{ song.id }}" />
                                                    
                                                    <button type="submit" class="btn-dark pull-Right">
                                                        <span class="glyphicon glyphicon-ok"></span> Yes
                                                    </button>
                                                </form>
                                            </div>
                                          </div>
                                        </div>
                                    </div>


                                    </td>
                                    <td>{{ song.movie.movie_name }}</td>
                                    

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>

        </div>

    </div>
    
{% else %}
<h1 class="text-color">There is no song present. Please, add a song. </h1>
{% endif %}
{% endblock %}
